/* width */
.w20{width:20px !important}
.w40{width:40px !important}
.w45{width:45px !important}
.w50{width:50px !important}
.w55{width:55px !important}
.w60{width:60px !important}
.w65{width:65px !important}
.w70{width:70px !important}
.w75{width:75px !important}
.w80{width:80px !important}
.w85{width:85px !important}
.w90{width:90px !important}
.w100{width:100px !important}
.w110{width:110px !important}
.w120{width:120px !important}
.w130{width:130px !important}
.w140{width:140px !important}
.w145{width:145px !important}
.w150{width:150px !important}
.w160{width:160px !important}
.w170{width:170px !important}
.w175{width:175px !important}
.w180{width:180px !important}
.w190{width:190px !important}
.w200{width:200px !important}
.w210{width:210px !important}
.w220{width:220px !important}
.w230{width:230px !important}
.w240{width:240px !important}
.w250{width:250px !important}
.w260{width:260px !important}
.w270{width:270px !important}
.w280{width:280px !important}
.w290{width:290px !important}
.w300{width:300px !important}
.w310{width:310px !important}
.w320{width:320px !important}
.w330{width:330px !important}
.w340{width:340px !important}
.w350{width:350px !important}
.w360{width:360px !important}
.w370{width:370px !important}
.w380{width:380px !important}
.w390{width:390px !important}
.w395{width:395px !important}
.w400{width:400px !important}
.w420{width:420px !important}
.w430{width:430px !important}
.w440{width:440px !important}
.w450{width:450px !important}
.w460{width:460px !important}
.w480{width:480px !important}
.w500{width:500px !important}
.w520{width:520px !important}
.w550{width:550px !important}
.w580{width:580px !important}
.w600{width:600px !important}
.w650{width:650px !important}
.w700{width:700px !important}
.w800{width:800px !important}
.w900{width:900px !important}
.w1000{width:1000px !important}
/* margins */
.ma0{margin:0px !important}
.ma1{margin:1px !important}
.ma2{margin:2px !important}
.ma3{margin:3px !important}
.ma4{margin:4px !important}
.ma5{margin:5px !important}
.ma6{margin:6px !important}
.ma7{margin:7px !important}
.ma8{margin:8px !important}
.ma9{margin:9px !important}
.ma10{margin:10px !important}
.ma11{margin:11px !important}
.ma12{margin:12px !important}
.ma13{margin:13px !important}
.ma14{margin:14px !important}
.ma15{margin:15px !important}
.ma16{margin:16px !important}
.ma17{margin:17px !important}
.ma18{margin:18px !important}
.ma19{margin:19px !important}
.ma20{margin:20px !important}
.ma25{margin:25px !important}
.ma30{margin:30px !important}
.ma35{margin:35px !important}
.ma40{margin:40px !important}
.ma45{margin:45px !important}
.ma50{margin:50px !important}
.ma55{margin:55px !important}
.ma60{margin:60px !important}
.mt-15{margin-top:-15px !important}
.mt-18{margin-top:-18px !important}
.mt-20{margin-top:-20px !important}
.mt0{margin-top:0px !important}
.mt1{margin-top:1px !important}
.mt2{margin-top:2px !important}
.mt3{margin-top:3px !important}
.mt4{margin-top:4px !important}
.mt5{margin-top:5px !important}
.mt6{margin-top:6px !important}
.mt7{margin-top:7px !important}
.mt8{margin-top:8px !important}
.mt9{margin-top:9px !important}
.mt10{margin-top:10px !important}
.mt11{margin-top:11px !important}
.mt12{margin-top:12px !important}
.mt13{margin-top:13px !important}
.mt14{margin-top:14px !important}
.mt15{margin-top:15px !important}
.mt16{margin-top:16px !important}
.mt17{margin-top:17px !important}
.mt18{margin-top:18px !important}
.mt19{margin-top:19px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt50{margin-top:50px !important}
.mt55{margin-top:55px !important}
.mt60{margin-top:60px !important}
.mt65{margin-top:65px !important}
.mt70{margin-top:70px !important}
.mt75{margin-top:75px !important}
.mt80{margin-top:80px !important}
.mt85{margin-top:85px !important}
.mt90{margin-top:90px !important}
.mt95{margin-top:95px !important}
.mt110{margin-top:110px !important}
.mr0{margin-right:0px !important}
.mr1{margin-right:1px !important}
.mr2{margin-right:2px !important}
.mr3{margin-right:3px !important}
.mr4{margin-right:4px !important}
.mr5{margin-right:5px !important}
.mr6{margin-right:6px !important}
.mr7{margin-right:7px !important}
.mr8{margin-right:8px !important}
.mr9{margin-right:9px !important}
.mr10{margin-right:10px !important}
.mr11{margin-right:11px !important}
.mr12{margin-right:12px !important}
.mr13{margin-right:13px !important}
.mr14{margin-right:14px !important}
.mr15{margin-right:15px !important}
.mr16{margin-right:16px !important}
.mr17{margin-right:17px !important}
.mr18{margin-right:18px !important}
.mr19{margin-right:19px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr35{margin-right:35px !important}
.mr40{margin-right:40px !important}
.mr45{margin-right:45px !important}
.mr50{margin-right:50px !important}
.mr55{margin-right:55px !important}
.mr60{margin-right:60px !important}
.mr70{margin-right:70px !important}
.mr80{margin-right:80px !important}
.mb0{margin-bottom:0px !important}
.mb1{margin-bottom:1px !important}
.mb2{margin-bottom:2px !important}
.mb3{margin-bottom:3px !important}
.mb4{margin-bottom:4px !important}
.mb5{margin-bottom:5px !important}
.mb6{margin-bottom:6px !important}
.mb7{margin-bottom:7px !important}
.mb8{margin-bottom:8px !important}
.mb9{margin-bottom:9px !important}
.mb10{margin-bottom:10px !important}
.mb11{margin-bottom:11px !important}
.mb12{margin-bottom:12px !important}
.mb13{margin-bottom:13px !important}
.mb14{margin-bottom:14px !important}
.mb15{margin-bottom:15px !important}
.mb16{margin-bottom:16px !important}
.mb17{margin-bottom:17px !important}
.mb18{margin-bottom:18px !important}
.mb19{margin-bottom:19px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb35{margin-bottom:35px !important}
.mb40{margin-bottom:40px !important}
.mb45{margin-bottom:45px !important}
.mb50{margin-bottom:50px !important}
.mb55{margin-bottom:55px !important}
.mb60{margin-bottom:60px !important}
.mb65{margin-bottom:65px !important}
.mb70{margin-bottom:70px !important}
.mb80{margin-bottom:80px !important}
.mb90{margin-bottom:90px !important}
.mb-15{margin-bottom:-15px !important}
.mb-20{margin-bottom:-20px !important}
.ml0{margin-left:0px !important}
.ml1{margin-left:1px !important}
.ml2{margin-left:2px !important}
.ml3{margin-left:3px !important}
.ml4{margin-left:4px !important}
.ml5{margin-left:5px !important}
.ml6{margin-left:6px !important}
.ml7{margin-left:7px !important}
.ml8{margin-left:8px !important}
.ml9{margin-left:9px !important}
.ml10{margin-left:10px !important}
.ml11{margin-left:11px !important}
.ml12{margin-left:12px !important}
.ml13{margin-left:13px !important}
.ml14{margin-left:14px !important}
.ml15{margin-left:15px !important}
.ml16{margin-left:16px !important}
.ml17{margin-left:17px !important}
.ml18{margin-left:18px !important}
.ml19{margin-left:19px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml35{margin-left:35px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}
.ml55{margin-left:55px !important}
.ml60{margin-left:60px !important}
.ml65{margin-left:65px !important}
.ml70{margin-left:70px !important}
.ml80{margin-left:80px !important}
.ml90{margin-left:90px !important}
.ml100{margin-left: 100px !important}
.mt-n1{margin-top:-1px !important}
.mt-n2{margin-top:-2px !important}
.mt-n3{margin-top:-3px !important}
.mt-n4{margin-top:-4px !important}
.mt-n5{margin-top:-5px !important}
.mt-n6{margin-top:-6px !important}
.mt-n7{margin-top:-7px !important}
.mt-n8{margin-top:-8px !important}
.mt-n9{margin-top:-9px !important}
.mt-n10{margin-top:-10px !important}
.mt-n11{margin-top:-11px !important}
.mt-n12{margin-top:-12px !important}
.mt-n13{margin-top:-13px !important}
.mt-n14{margin-top:-14px !important}
.mt-n15{margin-top:-15px !important}
.mt-n16{margin-top:-16px !important}
.mt-n17{margin-top:-17px !important}
.mt-n18{margin-top:-18px !important}
.mt-n19{margin-top:-19px !important}
.mt-n20{margin-top:-20px !important}
.mt-n25{margin-top:-25px !important}
.mt-n30{margin-top:-30px !important}
.mt-n35{margin-top:-35px !important}
.mt-n40{margin-top:-40px !important}
.mt-n45{margin-top:-45px !important}
.mt-n50{margin-top:-50px !important}
.mt-n55{margin-top:-55px !important}
.mt-n60{margin-top:-60px !important}
.mt-n65{margin-top:-65px !important}
.mt-n70{margin-top:-70px !important}
.mt-n75{margin-top:-75px !important}
.mt-n90{margin-top:-90px !important}
.mr-n1{margin-right:-1px !important}
.mr-n2{margin-right:-2px !important}
.mr-n3{margin-right:-3px !important}
.mr-n4{margin-right:-4px !important}
.mr-n5{margin-right:-5px !important}
.mr-n6{margin-right:-6px !important}
.mr-n7{margin-right:-7px !important}
.mr-n8{margin-right:-8px !important}
.mr-n9{margin-right:-9px !important}
.mr-n10{margin-right:-10px !important}
.mr-n11{margin-right:-11px !important}
.mr-n12{margin-right:-12px !important}
.mr-n13{margin-right:-13px !important}
.mr-n14{margin-right:-14px !important}
.mr-n15{margin-right:-15px !important}
.mr-n16{margin-right:-16px !important}
.mr-n17{margin-right:-17px !important}
.mr-n18{margin-right:-18px !important}
.mr-n19{margin-right:-19px !important}
.mr-n20{margin-right:-20px !important}
.mr-n25{margin-right:-25px !important}
.mr-n30{margin-right:-30px !important}
.mr-n35{margin-right:-35px !important}
.mr-n40{margin-right:-40px !important}
.mr-n45{margin-right:-45px !important}
.mr-n50{margin-right:-50px !important}
.mr-n55{margin-right:-55px !important}
.mr-n60{margin-right:-60px !important}
.mr-n70{margin-right:-70px !important}
.mb-n1{margin-bottom:-1px !important}
.mb-n2{margin-bottom:-2px !important}
.mb-n3{margin-bottom:-3px !important}
.mb-n4{margin-bottom:-4px !important}
.mb-n5{margin-bottom:-5px !important}
.mb-n6{margin-bottom:-6px !important}
.mb-n7{margin-bottom:-7px !important}
.mb-n8{margin-bottom:-8px !important}
.mb-n9{margin-bottom:-9px !important}
.mb-n10{margin-bottom:-10px !important}
.mb-n11{margin-bottom:-11px !important}
.mb-n12{margin-bottom:-12px !important}
.mb-n13{margin-bottom:-13px !important}
.mb-n14{margin-bottom:-14px !important}
.mb-n15{margin-bottom:-15px !important}
.mb-n16{margin-bottom:-16px !important}
.mb-n17{margin-bottom:-17px !important}
.mb-n18{margin-bottom:-18px !important}
.mb-n19{margin-bottom:-19px !important}
.mb-n20{margin-bottom:-20px !important}
.mb-n25{margin-bottom:-25px !important}
.mb-n30{margin-bottom:-30px !important}
.mb-n35{margin-bottom:-35px !important}
.mb-n40{margin-bottom:-40px !important}
.mb-n45{margin-bottom:-45px !important}
.mb-n50{margin-bottom:-50px !important}
.mb-n55{margin-bottom:-55px !important}
.mb-n60{margin-bottom:-60px !important}
.mb-n70{margin-bottom:-70px !important}
.ml-n1{margin-left:-1px !important}
.ml-n2{margin-left:-2px !important}
.ml-n3{margin-left:-3px !important}
.ml-n4{margin-left:-4px !important}
.ml-n5{margin-left:-5px !important}
.ml-n6{margin-left:-6px !important}
.ml-n7{margin-left:-7px !important}
.ml-n8{margin-left:-8px !important}
.ml-n9{margin-left:-9px !important}
.ml-n10{margin-left:-10px !important}
.ml-n11{margin-left:-11px !important}
.ml-n12{margin-left:-12px !important}
.ml-n13{margin-left:-13px !important}
.ml-n14{margin-left:-14px !important}
.ml-n15{margin-left:-15px !important}
.ml-n16{margin-left:-16px !important}
.ml-n17{margin-left:-17px !important}
.ml-n18{margin-left:-18px !important}
.ml-n19{margin-left:-19px !important}
.ml-n20{margin-left:-20px !important}
.ml-n25{margin-left:-25px !important}
.ml-n30{margin-left:-30px !important}
.ml-n35{margin-left:-35px !important}
.ml-n40{margin-left:-40px !important}
.ml-n45{margin-left:-45px !important}
.ml-n50{margin-left:-50px !important}
.ml-n55{margin-left:-55px !important}
.ml-n60{margin-left:-60px !important}
.ml-n70{margin-left:-70px !important}
.ml-n80{margin-left:-80px !important}
/* paddings */
.pa0{padding:0px !important}
.pa1{padding:1px !important}
.pa2{padding:2px !important}
.pa3{padding:3px !important}
.pa4{padding:4px !important}
.pa5{padding:5px !important}
.pa6{padding:6px !important}
.pa7{padding:7px !important}
.pa8{padding:8px !important}
.pa9{padding:9px !important}
.pa10{padding:10px !important}
.pa11{padding:11px !important}
.pa12{padding:12px !important}
.pa13{padding:13px !important}
.pa14{padding:14px !important}
.pa15{padding:15px !important}
.pa16{padding:16px !important}
.pa17{padding:17px !important}
.pa18{padding:18px !important}
.pa19{padding:19px !important}
.pa20{padding:20px !important}
.pa25{padding:25px !important}
.pa30{padding:30px !important}
.pa35{padding:35px !important}
.pa40{padding:40px !important}
.pa45{padding:45px !important}
.pa50{padding:50px !important}
.pa55{padding:55px !important}
.pa60{padding:60px !important}
.pt0{padding-top:0px !important}
.pt1{padding-top:1px !important}
.pt2{padding-top:2px !important}
.pt3{padding-top:3px !important}
.pt4{padding-top:4px !important}
.pt5{padding-top:5px !important}
.pt6{padding-top:6px !important}
.pt7{padding-top:7px !important}
.pt8{padding-top:8px !important}
.pt9{padding-top:9px !important}
.pt10{padding-top:10px !important}
.pt11{padding-top:11px !important}
.pt12{padding-top:12px !important}
.pt13{padding-top:13px !important}
.pt14{padding-top:14px !important}
.pt15{padding-top:15px !important}
.pt16{padding-top:16px !important}
.pt17{padding-top:17px !important}
.pt18{padding-top:18px !important}
.pt19{padding-top:19px !important}
.pt20{padding-top:20px !important}
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}
.pt35{padding-top:35px !important}
.pt40{padding-top:40px !important}
.pt45{padding-top:45px !important}
.pt50{padding-top:50px !important}
.pt55{padding-top:55px !important}
.pt60{padding-top:60px !important}
.pt65{padding-top: 65px !important}
.pt70{padding-top:70px !important}
.pt80{padding-top:80px !important}
.pt90{padding-top:90px !important}
.pr0{padding-right:0px !important}
.pr1{padding-right:1px !important}
.pr2{padding-right:2px !important}
.pr3{padding-right:3px !important}
.pr4{padding-right:4px !important}
.pr5{padding-right:5px !important}
.pr6{padding-right:6px !important}
.pr7{padding-right:7px !important}
.pr8{padding-right:8px !important}
.pr9{padding-right:9px !important}
.pr10{padding-right:10px !important}
.pr11{padding-right:11px !important}
.pr12{padding-right:12px !important}
.pr13{padding-right:13px !important}
.pr14{padding-right:14px !important}
.pr15{padding-right:15px !important}
.pr16{padding-right:16px !important}
.pr17{padding-right:17px !important}
.pr18{padding-right:18px !important}
.pr19{padding-right:19px !important}
.pr20{padding-right:20px !important}
.pr25{padding-right:25px !important}
.pr30{padding-right:30px !important}
.pr35{padding-right:35px !important}
.pr40{padding-right:40px !important}
.pr45{padding-right:45px !important}
.pr50{padding-right:50px !important}
.pr55{padding-right:55px !important}
.pr60{padding-right:60px !important}
.pr70{padding-right:70px !important}
.pr80{padding-right:80px !important}
.pr85{padding-right:85px !important}
.pr90{padding-right:90px !important}
.pb0{padding-bottom:0px !important}
.pb1{padding-bottom:1px !important}
.pb2{padding-bottom:2px !important}
.pb3{padding-bottom:3px !important}
.pb4{padding-bottom:4px !important}
.pb5{padding-bottom:5px !important}
.pb6{padding-bottom:6px !important}
.pb7{padding-bottom:7px !important}
.pb8{padding-bottom:8px !important}
.pb9{padding-bottom:9px !important}
.pb10{padding-bottom:10px !important}
.pb11{padding-bottom:11px !important}
.pb12{padding-bottom:12px !important}
.pb13{padding-bottom:13px !important}
.pb14{padding-bottom:14px !important}
.pb15{padding-bottom:15px !important}
.pb16{padding-bottom:16px !important}
.pb17{padding-bottom:17px !important}
.pb18{padding-bottom:18px !important}
.pb19{padding-bottom:19px !important}
.pb20{padding-bottom:20px !important}
.pb25{padding-bottom:25px !important}
.pb30{padding-bottom:30px !important}
.pb35{padding-bottom:35px !important}
.pb40{padding-bottom:40px !important}
.pb45{padding-bottom:45px !important}
.pb50{padding-bottom:50px !important}
.pb55{padding-bottom:55px !important}
.pb60{padding-bottom:60px !important}
.pb65{padding-bottom:65px !important}
.pb70{padding-bottom: 70px !important}
.pb75{padding-bottom:75px !important}
.pb90{padding-bottom:90px !important}
.pl0{padding-left:0px !important}
.pl1{padding-left:1px !important}
.pl2{padding-left:2px !important}
.pl3{padding-left:3px !important}
.pl4{padding-left:4px !important}
.pl5{padding-left:5px !important}
.pl6{padding-left:6px !important}
.pl7{padding-left:7px !important}
.pl8{padding-left:8px !important}
.pl9{padding-left:9px !important}
.pl10{padding-left:10px !important}
.pl11{padding-left:11px !important}
.pl12{padding-left:12px !important}
.pl13{padding-left:13px !important}
.pl14{padding-left:14px !important}
.pl15{padding-left:15px !important}
.pl16{padding-left:16px !important}
.pl17{padding-left:17px !important}
.pl18{padding-left:18px !important}
.pl19{padding-left:19px !important}
.pl20{padding-left:20px !important}
.pl25{padding-left:25px !important}
.pl30{padding-left:30px !important}
.pl35{padding-left:35px !important}
.pl40{padding-left:40px !important}
.pl45{padding-left:45px !important}
.pl50{padding-left:50px !important}
.pl55{padding-left:55px !important}
.pl60{padding-left:60px !important}
.pl65{padding-left:65px !important}
.pl70{padding-left:70px !important}
.pl80{padding-left:80px !important}
.pl85{padding-left:85px !important}
.pl90{padding-left:90px !important}
/* Border */
.bt0{border-top:0 !important}
.bb0{border-bottom:0 !important}
.bl0{border-left:0 !important}
.br0{border-right:0 !important}
/* Font Size */
.fw300{font-weight:300 !important}
.fw400{font-weight:400 !important}
.fw500{font-weight:500 !important}
.fw600{font-weight:600 !important}
.fw700{font-weight:700 !important}
.fw900{font-weight:900 !important}
.fs0{font-size:0px !important}
.fs10{font-size:10px !important}
.fs11{font-size:11px !important}
.fs12{font-size:12px !important}
.fs13{font-size:13px !important}
.fs14{font-size:14px !important}
.fs15{font-size:15px !important}
.fs16{font-size:16px !important}
.fs17{font-size:17px !important}
.fs18{font-size:18px !important}
.fs19{font-size:19px !important}
.fs20{font-size:20px !important}
.fs21{font-size:21px !important}
.fs22{font-size:22px !important}
.fs23{font-size:23px !important}
.fs24{font-size:24px !important}
.fs25{font-size:25px !important}
.fs26{font-size:26px !important}
.fs28{font-size:28px !important}
.fs29{font-size:29px !important}
.fs30{font-size:30px !important}
.fs32{font-size:32px !important}
.fs35{font-size:35px !important}
.fs37{font-size:37px !important}
.fs38{font-size:38px !important}
.fs40{font-size:40px !important}
.fs45{font-size:45px !important}
.fs50{font-size:50px !important}
.fs53{font-size:53px !important}
.fs55{font-size:55px !important}
.fs59{font-size:59px !important}
.fs60{font-size:60px !important}
.fs65{font-size:65px !important}
.fs70{font-size:70px !important}
.fs75{font-size:75px !important}
.fs80{font-size:80px !important}
.fs90{font-size:90px !important}
.fs100{font-size:100px !important}
.fs110{font-size:110px !important}
.fs120{font-size:120px !important}
/* Animate */
.ani-stop,.invisible{visibility:hidden;animation-name:none !important}
.ani-delay00{animation-delay:0s !important}
.ani-delay01{animation-delay:.1s !important}
.ani-delay015{animation-delay:.15s !important}
.ani-delay02{animation-delay:.2s !important}
.ani-delay025{animation-delay:.25s !important}
.ani-delay03{animation-delay:.3s !important}
.ani-delay04{animation-delay:.4s !important}
.ani-delay05{animation-delay:.5s !important}
.ani-delay06{animation-delay:.6s !important}
.ani-delay07{animation-delay:.7s !important}
.ani-delay075{animation-delay:.75s !important}
.ani-delay08{animation-delay:.8s !important}
.ani-delay09{animation-delay:.9s !important}
.ani-delay10{animation-delay:1s !important}
.ani-delay11{animation-delay:1.1s !important}
.ani-delay12{animation-delay:1.2s !important}
.ani-delay125{animation-delay:1.25s !important}
.ani-delay13{animation-delay:1.3s !important}
.ani-delay14{animation-delay:1.4s !important}
.ani-delay15{animation-delay:1.5s !important}
.ani-delay16{animation-delay:1.6s !important}
.ani-delay175{animation-delay:1.75s !important}
.ani-delay18{animation-delay:1.8s !important}
.ani-delay20{animation-delay:2s !important}
.ani-delay21{animation-delay:2.1s !important}
.ani-delay22{animation-delay:2.2s !important}
.ani-delay225{animation-delay:2.25s !important}
.ani-delay23{animation-delay:2.3s !important}
.ani-delay24{animation-delay:2.4s !important}
.ani-delay25{animation-delay:2.5s !important}
.ani-delay26{animation-delay:2.6s !important}
.ani-delay27{animation-delay:2.7s !important}
.ani-delay275{animation-delay:2.75s !important}
.ani-delay28{animation-delay:2.8s !important}
.ani-delay30{animation-delay:3s !important}
.ani-delay31{animation-delay:3.1s !important}
.ani-delay32{animation-delay:3.2s !important}
.ani-delay33{animation-delay:3.3s !important}
.ani-delay34{animation-delay:3.4s !important}
.ani-delay35{animation-delay:3.5s !important}
.ani-delay36{animation-delay:3.6s !important}
.ani-delay37{animation-delay:3.7s !important}
.ani-delay40{animation-delay:4s !important}
.ani-delay42{animation-delay:4.2s !important}
.ani-delay45{animation-delay:4.5s !important}
.ani-delay49{animation-delay:4.9s !important}
.ani-delay50{animation-delay:5s !important}
.ani-delay55{animation-delay:5.5s !important}
.ani-delay56{animation-delay:5.6s !important}
.ani-delay60{animation-delay:6.0s !important}
.ani-delay65{animation-delay:6.5s !important}
.ani-delay70{animation-delay:7.0s !important}
.ani-delay75{animation-delay:7.5s !important}
.ani-delay80{animation-delay:8s !important}
.ani-delay85{animation-delay:8.5s !important}
.ani-delay90{animation-delay:9s !important}
.ani-delay95{animation-delay:9.5s !important}
.ani-delay100{animation-delay:10s !important}
.ani-delay105{animation-delay:10.5s !important}
.ani-delay120{animation-delay:12s !important}
.ani-delay135{animation-delay:13.5s !important}
.ani-duration01{animation-duration:.1s !important}
.ani-duration05{animation-duration:.5s !important}
.ani-duration{animation-duration:1s !important}
.ani-duration15{animation-duration:1.5s !important}
.ani-duration2{animation-duration:2s !important}
.ani-duration25{animation-duration:2.5s !important}
.ani-duration3{animation-duration:3s !important}
.ani-duration35{animation-duration:3.5s !important}
.transition-delay05{transition-delay:.5s !important}
.transition-delay10{transition-delay:1s !important}
.transition-delay15{transition-delay:1.5s !important}
.transition-delay20{transition-delay:2s !important}
.lh-0{line-height: 0}
.lh-12{line-height: 1.2}
.lh-15{line-height: 1.5}
.lh-16{line-height: 1.6}
.animate__fadeInOut{animation:fadeInOut 1s both}
@keyframes fadeInOut{
0%,25%,100%{opacity:0;}
25%,75%{opacity:1;}
}

.mw-none{max-width: none !important;}
.pointer-none{pointer-events: none !important}
